[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
influxdb = "*"
pytz = "*"

[dev-packages]
nose = "*"
freezegun = "*"
pycodestyle = "*"
ipython = "*"

[requires]
python_version = "3.7"
